*{
  background-color: #cff1ff;
}

h1{
  font-family: 'Bad Script', cursive;
  font-size: 2rem
  color: #575B45;
  font-weight: 600;
  text-align: center;
}

h2 {
font-family: 'Noto Serif SC', serif;
font-size: 1.5rem;
color: #212021;
}

h3 {
font-family: 'Bad Script', cursive;
font-size: -1rem;
color: #212021;
}

a {
font-family: 'Bad Script', cursive;
background-color: #F4B896;
color: #224478;
text-decoration: none;
padding: 20px;
}
